body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    position: relative;
    top: 35px;
    width: 75%;
    height: 75%;
    display: grid;
    border: 5px solid black;
}
.grid{
    border: 1px solid black;
}

.hover{
    background-color: black;
}

.clear {
    background-color: white;
}

#button {
    position: relative;
    top: 5em;
}